.containerBody {
    background-color:azure;
}

.containerLine{
    display:flex;
}

.containerImage {
    display: flex;
    justify-content: left; 
    height: 300px; 
    width: 350px;
    margin-left: 200px; 
    margin-top: 125px;
    border: 1px solid black; 
    border-radius: 150px; 
    overflow: hidden; 
    padding: 5px; 
    border-width: 2px;
}

.containerHello{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 75px;
    margin-top: 75px;
    font-size: 40px;
}

.containerProductImage{
    display:flex;
    height: 350px;
    /* width: 400px; */
    margin-left: 30px;
    margin-top: 30px;
}

.containerProductImage2{
    display:flex;
    height: 260px;
    /* width: 400px; */
    margin-left: 30px;
    margin-top: 30px;
}

.containerProductText{
    display:flex;
    margin-left: 40px;
    margin-top: 30px;
}

.containerProductText2{
    display:flex;
    margin-left: 20px;
    margin-top: 30px;
}

#resumePDF iframe{
    width:75%;
    height:600px;
}

#resumePDF {
    display: flex;
    margin-top: 3px;
    align-items: center;
    justify-content: center;
}

.containerAboutImage {
    display: flex;
    justify-content: left; 
    height: 300px; 
    /* width: 350px; */
    margin-left: 75px; 
    margin-top: 50px;
    border: 1px solid black; 
    border-width: 1px;
}

.containerAboutText{
    display:flex;
    margin-left: 50px;
    margin-top: 50px;
}

.finalNavBar{
    margin-left: 550px;
}

.contactText{
    text-align: center;
    margin-top: 25px;
}

label {
    margin-bottom: 10px; 
    margin-top: 10px;
}

input {
    margin-bottom: 10px;
    margin-top: 10px; 
}

.cenetered-h2 {
    text-align: center;
}
.containerLogin{
    display:flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    /* height: 100%; */
    /* margin: 0; */
}

.containerForm{
    display: inline-block;
    padding: 30px;
    border: 1px solid #ccc;
    background-color:white;
    border-radius: 5px;
    margin-top: 50px;
}

.submit-btn {
    margin-top: 10px; 
    text-align: center;
}

.form-group{
    margin-bottom: 10px; 
    margin-top: 5px;
}

.navbar-nav .nav-item {
    display: flex; 
    align-items: center; 
}
 
#ErrorMessage {
    /* display: none; */
    color: red;
    text-align:center;
}

